.container 
{
    text-align: center;
}
  
h1 
{
    font-size: 24px;
    margin-bottom: 10px;
}
  
.game-area 
{
    position: relative;
    width: 40vw;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    color: #1b1b1b;
    background-color: rgb(105, 194, 201);
}

@keyframes dayCycle {
    0% {
        color: #1b1b1b;
        background-color: rgb(105, 194, 201); /* Starting color */
    }
    50% {
        color: #ccc;
        background-color: rgb(21, 36, 48); /* Dark blue color */
    }
    100% {
        color: #1b1b1b;
        background-color: rgb(105, 194, 201); /* Back to starting color */
    }
}

@media screen and (max-width: 900px) 
{
    .game-area 
    {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) 
{
    .game-area 
    {
        width: 90vw;
    }
}
  
.cat 
{
    position: absolute;
    bottom: 0;
    left: 50px;
    transition: bottom 0.3s ease;
}
  
.obstacle
{
    position: absolute;
    bottom: 0;
    left: 101%;
}

.fence
{
    background-size: contain;
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.cloud 
{
    width: max-content;
    position: absolute;
    bottom: 140px;
    left: 101%;
}
  
.jump 
{
    animation-name: jumpAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes jumpAnimation 
{
    0% 
    {
      bottom: 0;
    }
    50% 
    {
      bottom: 150px;
    }
    100% 
    {
      bottom: 0;
    }
}