.auth {
  background-color: rgb(0, 204, 255);
  text-align: center;

  box-sizing: border-box;

  h2 {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 200;
  }
  .container {
    padding: 80px;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.akamai.steamstatic.com%2Fsteam%2Fapps%2F2236790%2Fcapsule_616x353.jpg%3Ft%3D1689143899&tbnid=Bod4-pvHABHkqM&vet=12ahUKEwi5iueu7-qEAxXTPDQIHQuqClgQMygBegQIARBN..i&imgrefurl=https%3A%2F%2Fstore.steampowered.com%2Fapp%2F2236790%2FCool_Cats%2F&docid=s8sB7x2glvQ4cM&w=616&h=353&q=cool%20cat%20games&ved=2ahUKEwi5iueu7-qEAxXTPDQIHQuqClgQMygBegQIARBN");

    max-width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .addContainer {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: black;
    padding-top: 0%;
  }

  .addContainer form {
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px blue;
    border-radius: 5px;
  }

  .addContainer form label {
    font-size: 18px;
  }
  .addContainer form input {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .tableContainer table thead tr th,
  .tableContainer table tbody tr td {
    min-width: 200px;
    text-align: center;
    padding: 8px;
  }

  .btn-edit,
  .btn-delete {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px;
  }
  .btn-edit {
    background-color: skyblue;
  }
  .btn-delete {
    background-color: red;
    color: white;
  }
}
